.navbar-container{
    background-color: #e96a7e;
    height: 70px;
    display: flex;
    justify-content: center;
    align-items: flex-end;  /*manda oselementos para baixo, fim do eixo*/
    gap: 25px;
}